extend base

block main
  .col
    h1 About me
    span.about
      | 早安這邊是海獺，常做的事情就是在網路上搜尋奇怪知識胡搞瞎搞，希望有朝一日能成為對周遭的人有貢獻的人。
      | 蠻喜歡自己動手做的實感，不過也會因為想太多或要求太高而心態炸裂。目前正準備成為大學三年級生，希望能在剩沒多少的大學生涯中
      | 達成一些目標。目前有接觸許多遊戲的拆包，有興趣歡迎找我的文章來看看。
    br
    br
    h1 HOBBY
    span.about
      | 蠻常看動畫的，目前常駐MLTD圈子，在這邊過得很開心，謝謝其他圈關心我的朋友。曾經在邦圈、Mai圈待過，現已退役。
      | 除了MLTD以外也是個拉拉人，大多動畫都有涉及，歡迎各位跟我交流。
    br
    span.about
      | 5/20團聚真的很開心，希望之後也能繼續跟大家出去玩。
    br
    br
    h1 CONTACT ME
    ul
      li
        span.about
          | Twitter- 
          a(href='https://twitter.com/seaotterMS') https://twitter.com/seaotterMS
      li
        span.about
          | Youtube- 
          a(href='https://www.youtube.com/channel/UCB4v828kadFN4rK37TdWq3g') https://www.youtube.com/channel/UCB4v828kadFN4rK37TdWq3g
      li
        span.about
          | IT&#x90A6;- 
          a(href='https://ithelp.ithome.com.tw/users/20138060/profile') https://ithelp.ithome.com.tw/users/20138060/profile
    span.date by.SeaotterMS on 2022/7/11
