extend base

block content
  h2.textJP ADD-NEW-ARTICLE

block main
  form.row.g-3.was-validated(action='/', method='post', enctype='multipart/form-data')
    .col-md-4
      label.form-label(for='workName') 標題
      input#workName.form-control(type='text', name='information', value='', required='')
      #workNameFeedback.invalid-feedback 請填寫標題(請不要輸入非法字元(冒號分號之類的))
    .col-md-4
      label.form-label(for='author') 作者
      input#author.form-control(type='text', name='information', value='', required='')
      #authorFeedback.invalid-feedback 請填寫作者
    .col-md-4
      label.form-label(for='tag') 標籤
      select#tag.form-select.is-invalid(name='information', required='')
        option(selected='', disabled='', value='') 選擇標籤...
        option 技術文章
        option 電腦問題
        option 程式語言
        option 日常紀錄
    .col-12
      label.form-label(for='tag') 文章圖片(請上傳.jpg或.png的檔案)
      input#mainImg.form-control(type='file', name='image', aria-describedby='inputGroupFileAddon04', aria-label='Upload', required='')
    .col-6
      label.form-label(for='markdown') 內文(採用MarkDown格式)
      textarea#markdown.form-control.is-invalid.textarea__markdown(rows='3', placeholder='文章不得為空白(請使用MarkDown格式)', required='')
    .col-6
      label.form-label(for='translation') 內文預覽
      #translation
    input#translation__insert.input__hidden(name='information')
    .col-12
      button(onclick="insertHasendtag('h1')", type='button')
        i.fa-solid.fa-h.fa-fade.fa-lg
      button(onclick="insertHasendtag('h2')", type='button')
        i.fa-solid.fa-h.fa-fade.fa-lg
      button(onclick="insertHasendtag('h3')", type='button')
        i.fa-solid.fa-h.fa-fade.fa-lg
      button(onclick="insertHasendtag('h4')", type='button')
        i.fa-solid.fa-h.fa-fade.fa-lg
      button(onclick="insertMarkdown('**')", type='button')
        i.fa-solid.fa-bold.fa-fade.fa-lg
      button(onclick="insertMarkdown('*')", type='button')
        i.fa-solid.fa-italic.fa-fade.fa-lg
      button(onclick="insertMarkdown('```')", type='button')
        i.fa-solid.fa-code.fa-fade.fa-lg
      button(onclick="insertMarkdown('* ')", type='button')
        i.fa-solid.fa-list-ul.fa-fade.fa-lg
      button(onclick="insertHasendtag('u')", type='button')
        i.fa-solid.fa-underline.fa-fade.fa-lg
      button(onclick="insertHasendtag('del')", type='button')
        i.fa-solid.fa-text-slash.fa-fade.fa-lg
      button(onclick="insertWithoutendtag('br')", type='button')
        i.fa-solid.fa-arrows-up-down.fa-fade.fa-lg
      input#color.form-control-color.d-inline-block(type='color', name='color')
      button(onclick='cl()', type='button') 預覽鍵
    .col-auto
      label.form-label(for='password') 請輸入密碼
      input#password.form-control.is-invalid(type='password', name='information', placeholder='Password', required='')
    .col-12
      label.label__hint 注意! markdown轉html系統不支援顯示高光，但實際文章顯示會有黑底高光，請不要手動添加高光。
    .col-12
      button.btn.btn-primary(type='submit') 送出

block script
  script(src='javascripts/newInner.js')