doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/new.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/css/libs/animate.min.css")
    script(src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js")
    script(src="https://kit.fontawesome.com/8f1caa7fe1.js", crossorigin="anonymous")
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')

    // link(rel='icon', href="{{ url_for('static', path='img/icon.ico') }}")

    link(rel="stylesheet", href="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/atom-one-dark.min.css")
    script(src="https://unpkg.com/showdown@2.1.0/dist/showdown.min.js")
    script(src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js")
    script(src="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js")
    title 海獺的GALGAME記錄站
  body.body
    nav.navbar.navbar-light(style='background-color: #f7c17f;')
      .container-fluid
        a.navMain.boldText(href='/') 海獺的GALGAME記錄站
        button.navbar-toggler(type='button', data-bs-toggle='offcanvas', data-bs-target='#offcanvasNavbar', aria-controls='offcanvasNavbar')
          span.navbar-toggler-icon
        #offcanvasNavbar.offcanvas.offcanvas-end(tabindex='-1', aria-labelledby='offcanvasNavbarLabel', style='background-color: #f7c17f;')
          .offcanvas-header
            h5#offcanvasNavbarLabel.offcanvas-title.navMain.boldText 海獺的GALGAME記錄站
            button.btn-close.text-reset(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
          .offcanvas-body
            ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
              li.nav-item
                a.nav-link.active.navTitle(aria-current='page', href='/') 首頁
              li.nav-item
                a.nav-link.active.navTitle(href='/resource') 資源
              li.nav-item
                a.nav-link.active.navTitle(href='/aboutme') 關於我
              li.nav-item
                a.nav-link.active.navTitle(href='/newArticle') 新增文章
              li.nav-item
                a.nav-link.active.navTitle(href='/newGalgameArticle') 新增GALGAME文章
              li.nav-item
                a.nav-link.active.navTitle(href='/databaseOperate') 資料庫操作
    .row.container-fluid
      #leftSection.col-1.text-center
      .col-10.bodyMask
        div
          img.img(src='/images/main.png')
        hr
        div
          h1.display-4.bol.mainText 海獺的Galgame記錄站
          block content
          hr.my-4
        div.row
          div.col-9
            block main
          div.col-3
            block mainright
        hr
        br
        br
        br
        br
        br
        .grey
          a 技術整合:SeaotterMS
      br
      .col-1
    script(src='/javascripts/bootstrap.min.js')
    block script
    // script(src='/static/js/articleTool.js')