extend newbase

block content
  span.typer
  
block main 
  .mainblock__main.row
    .mainblock__img.col-5
    .mainblock__article.col-7
      h4 MLTD 3D模組MMD教學
      .articleblock__inf
        i.fa-regular.fa-calendar-check.fa-bounce.fa-lg 
        |  2022/08/20
        |  || 
        i.fa-solid.fa-at.fa-flip.fa-lg
        |  SeaotterMS
      div
        span MLTD 3D模組MMD教學的教學
      .articleblock__tag
        i.fa-sharp.fa-solid.fa-tags.fa-beat-fade.fa-lg
        |  程式設計

block mainRight 
  .mainRight__profile BBBBBBBBBBBBB