extend newbase

block css
  link(rel='stylesheet', href='/stylesheets/mainPage.css')

block main 
  .mainBlock__galgameArticle.row.wow.animate__jackInTheBox
    div
      span#galgameArticleTitle.galgameArticle__title
    .galgameArticle__content.col-4
      h4.galgameArticle__contentTitle 星空鉄道とシロの旅
      h5 
        i.fa-solid.fa-pen-nib.fa-fade
        |  SeaotterMS
      h5
        i.fa-solid.fa-clock.fa-fade
        |  2023-04-23
      h6(style="margin-top:30px")
        i.fa-sharp.fa-solid.fa-tags.fa-bounce
        a(href="#")
          span.galgameArticle__tags 泣系類型
        | .
        a(href="#")
          span.galgameArticle__tags KEY
    .galgameArticle__content.col-4
      h4.galgameArticle__contentTitle 星空鉄道とシロの旅
      h5 WRITER:SeaotterMS
      h5 TIME:2023-04-23
      div(style="margin-top:30px")
        i.fa-sharp.fa-solid.fa-tags.fa-beat-fade.fa-lg tag
    .galgameArticle__content.col-4
      h4.galgameArticle__contentTitle 星空鉄道とシロの旅
      h5 WRITER:SeaotterMS
      h5 TIME:2023-04-23
      div(style="margin-top:30px")
        i.fa-sharp.fa-solid.fa-tags.fa-beat-fade.fa-lg tag
    .galgameArticle__content.col-4
      h4.galgameArticle__contentTitle 星空鉄道とシロの旅
      h5 WRITER:SeaotterMS
      h5 TIME:2023-04-23
      div(style="margin-top:30px")
        i.fa-sharp.fa-solid.fa-tags.fa-beat-fade.fa-lg tag
  .mainBlock__mainArticle.row.wow.animate__jackInTheBox
    .mainArticle__img.col-5
    .mainArticle__main.col-7
      h4 MLTD 3D模組MMD教學
      .mainArticle__inf
        i.fa-regular.fa-calendar-check.fa-bounce.fa-lg 
        |  2022/08/20
        |  || 
        i.fa-solid.fa-at.fa-flip.fa-lg
        |  SeaotterMS
      div
        span MLTD 3D模組MMD教學的教學
      .mainArticle__tag
        i.fa-sharp.fa-solid.fa-tags.fa-beat-fade.fa-lg
        |  程式設計