extend newbase

block css
  link(rel='stylesheet', href='/stylesheets/createGalgamePage.css')

block main
  .mainBlock__form.row.wow.animate__zoomIn
    h3(style="margin-top: 10px;") 撰寫新的Galgame心得:
    form.row.g-3.was-validated(action='/', method='post')
      .col-md-6
        label.form-label(for='author') 作者
        input#author.form-control(type='text', name='information', value='', required)
        .invalid-feedback 請填寫作者
      .col-md-6
        label.form-label(for='title') 作品名稱
        input#title.form-control(type='text', name='information', value='', required)
        .invalid-feedback 請填寫作品名稱
      .col-md-4
        label.form-label(for='company') 作品公司
        input#company.form-control.c(type='text', name='information', value='', required)
        .invalid-feedback 請填寫作品公司
      .col-md-4
        label.form-label(for='releaseDate') 上市日期
        input#releaseDate.form-control.c(type='text', name='information', value='', required)
        .invalid-feedback 請填寫上市日期
      .col-md-4
        label.form-label(for='tag') 標籤
        select#tag.form-select.is-invalid(name='information', required)
          option(selected='', disabled='', value='') 選擇標籤...
      .col-md-12
        label.form-label(for='officialWebsite') 官方網站
        input#officialWebsite.form-control.c(type='text', name='information', value='', required)
        .invalid-feedback 請填寫官方網站網址
      .col-12
        label.form-label(for='opUrl') OP網址
        input#opUrl.form-control.op(type='text', name='information', placeholder='https://www.youtube.com/watch?v=......', required)
        .invalid-feedback 請填寫OP網址
      .col-6
        label.form-label(for='markdown') 內文(採用MarkDown格式)
        textarea#markdown.form-control.is-invalid.textarea__markdown(rows='3', placeholder='文章不得為空白(請使用MarkDown格式)', required)
      .col-6
        label.form-label(for='translation') 內文預覽
        #translation
      input#translation__insert.input__hidden(name='information')
      .col-12
        button(onclick="insertHasendtag('h1')" type='button')
            i.fa-solid.fa-h.fa-fade.fa-lg
        button(onclick="insertHasendtag('h2')" type='button')
            i.fa-solid.fa-h.fa-fade.fa-lg
        button(onclick="insertHasendtag('h3')" type='button')
            i.fa-solid.fa-h.fa-fade.fa-lg
        button(onclick="insertHasendtag('h4')" type='button')
            i.fa-solid.fa-h.fa-fade.fa-lg
        button(onclick="insertMarkdown('**')" type='button')
            i.fa-solid.fa-bold.fa-fade.fa-lg
        button(onclick="insertMarkdown('*')" type='button')
            i.fa-solid.fa-italic.fa-fade.fa-lg
        button(onclick="insertMarkdown('```')" type='button')
            i.fa-solid.fa-code.fa-fade.fa-lg
        button(onclick="insertMarkdown('* ')" type='button')
            i.fa-solid.fa-list-ul.fa-fade.fa-lg
        button(onclick="insertHasendtag('u')" type='button')
            i.fa-solid.fa-underline.fa-fade.fa-lg
        button(onclick="insertHasendtag('del')" type='button')
            i.fa-solid.fa-text-slash.fa-fade.fa-lg
        button(onclick="insertWithoutendtag('br')" type='button')
            i.fa-solid.fa-arrows-up-down.fa-fade.fa-lg
        input#color.form-control-color.d-inline-block(type='color' name='color')
        button(onclick='cl()' type='button') 預覽鍵
      .col-12
        label.mainBlock__hint 注意! markdown轉html系統不支援顯示高光，但實際文章顯示會有黑底高光，請不要手動添加高光。
      .col-12
        label.form-label(for='password') 請輸入密碼
        input#password.form-control.is-invalid(type='password', name='information', placeholder='Password', required)
      .col-12(style="margin-bottom: 10px;")
        button.btn.btn-primary(type='submit') 送出

block script
  script(src='javascripts/inner.js')