extend base

block main
  .mainBlock__resource.row.wow.animate__bounceInLeft
    div(style="margin-top:5px;")
      h2(style="font-weight:bold;") 常用工具:
      a.url(href='http://www03.eyny.com/thread-10250599-1-DLBRAFTX.html', target='_blank') [教學]第一次玩GALGAME就上手
    hr
    div
      h2(style="font-weight:bold;") 統整網站:
      a.url(href='https://inoriame.blogspot.com/2021/07/ver4.html', target='_blank') 祈雨の随意領域: GalGame漢化列表ver4
    hr
    div
      h2(style="font-weight:bold;") 歌曲鑑賞:
      a.url(href='https://www.youtube.com/watch?v=maOhOacQhz8&t=3164s', target='_blank') 【投票受付中】FINAL みんなのギャルゲ/エロゲ音楽TOP202 Part2/2 VN Music Ranking with Romaji/Eng Sub.
      br
      a.url(href='https://www.youtube.com/watch?v=JJcaMkk9d50', target='_blank') 【2010年～】【批評空間90点以上】心に響く感動系エロゲソング＋ゲーソン Fullメドレー Vol.2
      br
      a.url(href='https://www.youtube.com/watch?v=ZwRMh89IsnE', target='_blank') 【作業用BGM】 私的 エロゲソングメドレー 【FULL】
      br
      a.url(href='https://www.youtube.com/watch?v=gofdBUnjbgE&t=2372s', target='_blank') 【作業用BGM】神曲エロゲソングメドレー⑤【歌詞つき】
      br
      a.url(href='https://www.youtube.com/watch?v=FzBZOZ8Opt8', target='_blank') 【1.8万票】2019 みんなのギャルゲ/エロゲソング TOP200 Part2/2【YouTube+ニコ動】
      br
    hr
    div
      h2(style="font-weight:bold;") 其他相關網站:
      a.url(href='https://seiya-saiga.com/game/kouryaku.html', target='_blank') 誠也の部屋 ▲PCゲーム攻略一覧▲
      br