/* mainBlock */
.mainBlock__galgameArticle{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.75);
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.mainBlock__mainArticle{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.75);
    margin-bottom: 0px;
}
/* galgameArticle */
.galgameArticle__title{
    font-size: 30px;
}
.galgameArticle__content{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 240px;
    color: white;
    margin-bottom: 10px;
}
.galgameArticle__contentTitle{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
.galgameArticle__tags{
    font-weight: bold;
    background-color: rgba(0, 187, 255, 0.5);
    border-radius: 8px;
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
}
.galgameArticle__tags:hover{
    background-color: rgba(7, 87, 115, 0.5);
}
/* mainArticle */
.mainArticle__img{
    background-image: url("../images/sd_202_40.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px;
    max-height: 100%;
}
.mainArticle__main{
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 50px;
}
.mainArticle__inf{
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
    font-size: 13px;
}
.mainArticle__tag{
    margin-top: 50px;
    margin-bottom: 10px;
    color: gray;
    font-size: 13px;
}